@layer webmodu-base {
  #main.main {
    & > *:not(.wp-block-cover) {
      @extend .container;
    }
  }

  main {
    p {
      margin-bottom: $paragraph-margin-bottom;
    }

    section.section {
      padding-block: 3rem;

      @media (min-width: $breakpoint-md) {
        padding-block: 5rem;
      }
    }

    img {
      max-width: 100%;
      width: 100%;
      @extend .mx-auto;
    }

    @each $k, $v in $typography-sizes {
      #{$k} {
        margin-bottom: calc($v / 1.25);

        * + & {
          // margin-top: calc($heading-margin-bottom * 1.5);
        }

        @media (max-width: $breakpoint-sm) {
          &:not(.fixed) {
            text-align: center !important;
          }
        }
      }
    }
  }
}
