.icontext {
  display: inline-flex;

  align-items: baseline;

  .start-icon,
  .end-icon {
    width: 1.25rem;
  }

  .start-icon {
    margin-right: 1ch;
  }

  .end-icon {
    margin-left: 1ch;
  }

  @media (max-width: $breakpoint-md) {
    .label:not(.sm-label) {
      @include sr-only;
    }
  }
}
