.icontext {
  display: inline-flex;

  align-items: baseline;

  .start-icon,
  .end-icon {
    width: 1.25rem;
  }

  @media (min-width: $breakpoint-md) {
    gap: 0.75rem;
  }

  @media (max-width: $breakpoint-md) {
    .label {
      @include sr-only;
    }
  }
}
