@import 'reset';
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'utils';
@import 'typography';

@import 'links';
@import 'post-wrapper';
@import 'post-article';
@import 'header';
@import 'jumbotron';
@import 'buttons';
@import 'content';
@import 'columns';
@import 'icontext';
@import 'lists';
@import 'carousel';
@import 'slot-machine';
@import 'progress-bar';

.sr-only {
  @include sr-only();
}

.focus-only:not(:focus) {
  @include sr-only();
}

@layer webmodu-base {
  body,
  .editor-styles-wrapper {
    font-family: $font-body;
    color: $body-color;
  }
  *:focus-visible {
    outline: 2px solid black;
  }
}

.skills-carousel {
  height: 90px;
}
